<!DOCTYPE html>
<html lang="en">
<body>
    <header>
        <div class="container">
            <strong>
                <nav>
                    <ul class="menu">
                        <li><a href="{ { url_for('home') } }">Home</a></li>
                        <li><a href="{ { url_for('Katrina') } }">About Katrina</a></li>
                        <li><a href="{ { url_for('Sarah') } }">About Sarah</a></li>
                    </ul>
                </nav>
            </strong>
        </div>
    </header>

</body>
</html>