<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="styles/css/bootstrapKatrina.css">
    <link rel="stylesheet" href="styles/secondary.css">
    <title>PhD People</title>
</head>
<body>
    {% extends "layout.html" %}
    {% block content %}
    <div class="content">
        <h1>PhD People</h1>
        <p>Welcome to PhD People, where you can find out about us and our PhD research!</p>
        <h2>Who would you like to learn about first?</h2>
        <a href="katrina"><h1 class="name">Katrina</h2></a> <h3 class="h1line">or</h3> <a href="sarah"><h1 class="name">Sarah</h2></a>
    </div>
    {% endblock %}
</body>
</html>
