<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="styles/css/bootstrapKatrina.css">
    <link rel="stylesheet" href="styles/secondary.css">
    <title>PhD People</title>
</head>
<body>
    {% extends "layout.html" %}
    {% block content %}
    <div>
        <h1>PhD People</h1>
        <p>Welcome to PhD People, where you can find out about us and our PhD research!</p>
    </div>
    {% endblock %}
</body>
</html>